/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Estilos para el contenedor del formulario de inicio de sesión */
/* Estilos para el contenedor del formulario de inicio de sesión */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    min-height: 300px; /* Altura mínima */
    text-align: center;
    margin-top: 20px; /* Espacio entre el header y el formulario */
}


/* Resto de los estilos (sin cambios) */
h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

#sesion a{
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4c2a5e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #7f3ba2;
}

.social-login {
    margin-top: 20px;
}

.social-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.google {
    background-color: #db4437;
    color: #fff;
}

.facebook {
    background-color: #4267B2;
    color: #fff;
}

.social-btn:hover {
    opacity: 0.9;
}

p {
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}